body, html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
    width: 100%;
    height: 100%;
	background-color: rgb(0, 0, 0);
  margin:0;
  padding:0;
  background: url(images/fond.jpg) no-repeat center fixed; 
  /* -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}

/* Cadre transparent pour le fond, qui s'adapte en largeur*/
#fond{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
 } 
 /* Cadre transparent pour le fond, taille fixe, centré dans le précédent*/
#fond-fixe{
   position: relative;
   display: table; /*pour IE*/
   margin: 20px auto;
   width: 980px;
   height: 100%;
 } 
 /* Fond noir du menu */
#fond-menu{
   position: absolute;
   left: -202px;
   top: 0px;
   width: 174px;
   height: 306px;
   background-color: rgb(0, 0, 0);
   padding-top: 1px;
 } 
  
/* Menu */
ul {
 padding:0;
 margin-left: 6px;
 margin-top: 6px;
 list-style-type:none;
 }
li {
 float:left; /*pour IE*/
 border-left:1px solid black;
 border-top:2px solid black;
 }
ul li a {
 display:block;
 float:left;   
 width:160px;
 line-height:40px; /*hauteur de l'image de fond*/
 background:white url(images/menu-blanc.png) repeat-x;
 color: rgb(0, 0, 0);
 font-size: 14pt;
 text-decoration: none;
 text-align:center;
 }
ul li a:hover {
 background:black url(images/menu-noir.png) repeat-x;
 color: rgb(255, 255, 255);
 }
 
/* Fond noir du titre */
#fond-titre{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 432px;
   height: 228px;
   background-color: rgb(0, 0, 0);
 } 
/* Fond noir du portrait*/
#fond-portrait{
   position: absolute;
   width: 500px;
   height: 800px;
   left: 460px;
   top: 0px;
   border: 10px solid ;
   background-color: black;
}

/* Blocs de texte */
#ACTU{
   position: absolute;
   width: 392px;
   height: 538px;
   left: 0px;
   top: 245px;
   text-align: left;
   background-color: rgb(255, 255, 255);
   padding-top: 70px;
   padding-bottom: 10px;
   padding-left: 10px;
   padding-right: 10px;
   border: 10px solid ;
}
#TITRE-ACTU{
   position: absolute;
   width: 402px;
   height: 60px;
   left: 0px;
   top: 0px;
   text-align: left;
   background-color: rgb(0, 0, 0);
   padding-left: 10px;
   padding-right: 10px;
}
#Credits-photos{
   position: absolute;
   width: 402px;
   height: 60px;
   left: 420px;
   top: 0px;
   text-align: left;
   padding-left: 10px;
   padding-right: 10px;
}
#facebook{
   position: absolute;
   width: 300px;
   height: 400px;
   left: 502px;
   top: 392px;
   text-align: left;
   background-color: white;
}
#MUSIQUE{
   position: absolute;
   width: 940px;
   height: 485px;
   left: 0px;
   top: 298px;
   text-align: left;
   background-color: rgb(255, 255, 255);
   padding-top: 70px;
   padding-bottom: 10px;
   padding-left: 10px;
   padding-right: 10px;
   border: 10px solid ;
}
#SINGLE-left{
   position: absolute;
   width: 480px;
   height: 320px;
   left: 10px;
   top: 70px;
   text-align: left;
   background-color: rgb(255, 255, 255);
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
   padding-right: 0px;
   border: 0px ;
}
#SINGLE-topright{
   position: absolute;
   width: 450px;
   height: 270px;
   left: 500px;
   top: 10px;
   text-align: left;
   background-color: rgb(255, 255, 255);
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
   padding-right: 0px;
   border: 0px ;
}
#SINGLE-bottomright{
   position: absolute;
   width: 450px;
   height: 270px;
   left: 500px;
   top: 290px;
   text-align: left;
   background-color: rgb(255, 255, 255);
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
   padding-right: 0px;
   border: 0px ;
}
#pied-de-page{
   position: absolute;
   left: 0px;
   top: 895px;
   text-align: center;
   width: 980px;
   height: 52px;
   background-color: rgb(0, 0, 0);
}

/* Titres*/
/* Titre type ACTU blanc*/
h1{
    position: absolute;
	font-size: 22pt;
	color: rgb(255, 255, 255);
	text-decoration: none;
	margin: 6 auto;
}
/* Titre type ACTU noir*/
h2{
    position: absolute;
	font-size: 22pt;
	color: rgb(0, 0, 0);
	text-decoration: none;
	margin: 0 auto;
}
/* Titre pied-de-page blanc*/
h3{
	font-family: Courier New, Courier, mono;
	font-size: 8pt;
	color: rgb(255, 255, 255);
}
/* Titre pied-de-page noir*/
h4{
	font-family: Courier New, Courier, mono;
	font-size: 8pt;
	color: rgb(0, 0, 0);
}

/* Tableaux */
#tableau{
   position: absolute;
   width: 1100px;
   height: 700px;
   left: 0px;
   top: 0px;
   overflow: auto;
   padding-top: 70px;
}
table
{
	border-collapse;
}
td /* Cellules non collées à la bordure */
{
	padding: 1;
}

/*Gallery - Slide \*/
#titlebar {
	position: absolute;
	width: 505px;
	height: 20px;
	left: 480px;
    top: 80px;
}
#dhtmlgoodies_slideshow{
	position: absolute;
	width: 730px;
	height: 590px;
	left: 380px;
	top: 120px;
}
#galleryContainer{
	position: absolute;
	width: 640px;
	height: 42px;
   left: 80px;
   top: 10px;
}
#arrow_left{
	position: absolute;
	height: 42px;
	left: 55px;
	top: 15px;
}
#arrow_right{
	position: absolute;
	height: 42px;
	right: 31px;
	top: 15px;
}
#theImages{position: relative;}
#theImages img{
	float: left;
	padding: 2px;
}
#theImages .imageCaption{display: none;}
#previewPane{
	position: relative;
	width: 730px;
	height: 590px;
	left: 25px;
	top: 66px;
	overflow: hidden;
   text-align: center;
}
#previewPane #largeImageCaption{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #f2f939;
}
#waitMessage{
	display: none;
	position: absolute;
	left: 200px;
	top: 150px;
	background-color: #F6F7F1;
	border: 0px;
	padding: 4px;
	color: #746B4C;
	font-size: 9px;
	font-family: Arial;	
}